.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    border-top: 1px solid var(--surface-border);
    margin-top: 12rem;
}
